{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="" id="full_name"
                                       placeholder="{{ .Site.Data.homepage.contact.form.full_name }}"/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="" id="email"
                                       placeholder="{{ .Site.Data.homepage.contact.form.email }}"/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="" id="message"
                                          cols="30" rows="3" placeholder="{{ .Site.Data.homepage.contact.form.message }}"></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" onclick="event.preventDefault(); sendEmail()">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ .Site.Data.homepage.contact.button.btnText }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number }}</span>
                    <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sendEmail() {
            var full_name = document.getElementById('full_name').value;
            var email = document.getElementById('email').value;
            var message = document.getElementById('message').value;

            // Validate email
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!re.test(String(email).toLowerCase())) {
                alert('Email is not valid');
                return false;
            }

            if (full_name == '' || email == '' || message == '') {
                alert('Please fill all fields');
                return false;
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://portaba.herokuapp.com/v1/user/new/mail', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert('Message sent');
                }
            };
            xhr.send(JSON.stringify({
                'full_name': full_name,
                'email': email,
                'message': message
            }));

        }
    </script>
</section>
{{ end }}
