{{ if .Site.Data.homepage.newsletter.enable }}
<section class="section section--cta">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ .Site.Data.homepage.newsletter.title }}</h2>
      <div class="rad-subscription-group">
        <form id="rad-subscription" action="">
          <input
            id="rad-subscription-email"
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Email Address..."
            aria-label="Email Address"
          />
          <button type="submit" id="rad-subscription-submit" class="btn btn-light btn-rounded" onclick="event.preventDefault(); subscribe()">
            Sign Up
          </button>
        </form>
        <div id="rad-subscription-success" class="d-none">
          <p class="lead">{{ .Site.Data.homepage.newsletter.success_message }}</p>
        </div>
        <div id="rad-subscription-fail" class="d-none">
          <p>{{ .Site.Data.homepage.newsletter.error_message }}</p>
        </div>
        <script src="/js/subscription.js"></script>
      </div>
      <small id="emailHelp" class="form-text text-muted"
        >{{ .Site.Data.homepage.newsletter.note }}</small
      >
    </div>
  </div>
</div>
<script>
  function subscribe() {
      var email = document.getElementById('rad-subscription-email').value;
      console.log(email);

      // Validate email
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(String(email).toLowerCase())) {
          alert('Email is not valid');
          return false;
      }

      if (email == '') {
          alert('Field cannot be empty');
          return false;
      }

      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://127.0.0.1:8000/new/subscribe', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
              alert('Subscribed successfully');
          }
      };
      xhr.send(JSON.stringify({ email: email }));
  }
</script>
</section>
{{ end }}
